<% title "Gallery" %>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>
<p>
  <strong>Page:</strong>
  <%= @gallery.page_id %>
</p>
<p>
  <strong>Published:</strong>
  <%= @gallery.published %>
</p>
<p>
  <strong>Clicks:</strong>
  <%= @gallery.clicks %>
</p>

<p>
  <%= link_to "Edit", edit_admin_page_gallery_path(@page, @gallery) %> |
  <%= link_to "Destroy", admin_page_gallery_path(@page, @gallery), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_page_galleries_path(@page) %>
</p>
