<%= form_for ([:admin, @category, @banner], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :banner_category_id %><br />
    <%= f.text_field :banner_category_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pub_start %><br />
    <%= f.datetime_select :pub_start %>
  </p>
  <p>
    <%= f.label :pub_end %><br />
    <%= f.datetime_select :pub_end %>
  </p>
  <p>
    <%= f.label :clicks %><br />
    <%= f.text_field :clicks %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
  	<%= f.label :image%>
	<%= f.file_field :image%>
  </p>
  <p><%= f.submit %></p>
<% end %>
