<% title "Banner" %>

<p>
  <strong>Category:</strong>
  <%= @banner.banner_category_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @banner.name %>
</p>
<p>
  <strong>Pub Start:</strong>
  <%= @banner.pub_start %>
</p>
<p>
  <strong>Pub End:</strong>
  <%= @banner.pub_end %>
</p>
<p>
  <strong>Clicks:</strong>
  <%= @banner.clicks %>
</p>
<p>
  <strong>Link:</strong>
  <%= @banner.link %>
</p>

<p>
  <strong>Imagem:</strong><br />
  <%= image_tag(@banner.image.url("thumb")) %>
</p>

<p>
  <%= link_to "Edit", edit_admin_banner_category_banner_path(@category, @banner) %> |
  <%= link_to "Destroy", admin_banner_category_banner_path(@category, @banner), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_banner_category_banners_path(@category) %>
</p>
