<% content_for :head do%>
<%=stylesheet_link_tag "search_results"%>	
<%end%>
<div id="Content_products">

<div id="Products">
          <p class="Bread_crumb"><%= link_to "home", root_path%></p>
          <h1 style=" vertical-align:middle; text-align:left;">Busca : <%=params[:keyword]%></h1>
          <img src="images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
          <img src="images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" />  
                  <label style=" vertical-align:middle; text-align:left;">Items por Pagina:</label>
                  <select name="items por pagina" style=" text-align:left;">
                      <option value="">5</option>
                      <option value="1">10</option>
                      <option value="1">20</option>
                      <option value="1">30</option>
                  </select> 
                  <label style=" vertical-align:middle; text-align:left;">Ordenar por:</label>
                  <select name="items por pagina" style=" text-align:left; margin-right:260px;">
                      <option value="">Mais Vendidos</option>
                      <option value="1">categoria</option>
                      <option value="1">categoria</option>
                      <option value="1">categoria</option>
                  </select> <br /><br /><br /><br />       
			<%if flash[:error]%>
				<%= content_tag :div, flash[:error], :id => "flash_error" %>
			<%end%>
			<%if !@Results.blank?%>
				<% @Results.each do |resultado|%>
				<div id="Product_search">
						<div id="Photo">
							<%=link_to(image_tag(resultado.product_images.first.image.url("thumb")), produto_path(resultado)) if !resultado.product_images.first.blank? %>

							<%=link_to(image_tag("missing_thumb.jpg"), produto_path(resultado)) if resultado.product_images.first.blank? %>
							<%
							"Foto"	#image_tag(resultado.product_images.first.image.url,:width=>"74", :height=>"128" )
							%>
						</div>
						<div id="Info_text">
							<p class="Title">
								<%= resultado.name%>
							</p>
							<p>
								<%=truncate(resultado.summary, :length => 80)%><%=link_to image_tag("tit_vejamais.png", :width=>"64", :height=>"11", :alt=>"veja mais", :title=>"veja mais", :style=>"margin-top:4px;"), produto_path(resultado)%>
							</p>
						</div>
	            		<div id="Field_buttons">
							<%=link_to image_tag("bt_addtocart_src.png",:width=>"222", :height=>"32", :style=>"margin-left:10px; margin-top:10px;"), add_to_cart_produto_path(resultado)%>
							<a href="#"><img src="images/img_stars_search.png" width="116" height="17" style="margin-left:10px;margin-top:10px;" /></a><br />
	                 		<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.farmaciaecovita.com.br" data-text="<%=resultado.tweet_text%>" data-count="none" data-via="farmaecovita" style="display:inline-block;">Tweet</a>
							<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.farmaciaecovita.com.br/produtos/<%=resultado.id%>&layout=button_count&show_faces=false&action=like" style="border: medium none; overflow: hidden; width: 80px; height: 20px; display:inline-block;" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
	                  	</div>			
				</div>
				<% end %>
			<%else%>

			<p>Nenhum registro foi localizado! Tente novamente.</p>

			<%end%>
     <p><%= will_paginate @Results %></p>                                               
     <img src="images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" /> 
    </div>