<% title "Orders" %>

<table>
  <tr>
    <th>User</th>
    <th>Status</th>
    <th>Address</th>
    <th>Shipping</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.user_id %></td>
      <td><%= order.status %></td>
      <td><%= order.address_id %></td>
      <td><%= order.shipping %></td>
      <td><%= link_to "Show", order %></td>
      <td><%= link_to "Edit", edit_order_path(order) %></td>
      <td><%= link_to "Destroy", order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order", new_order_path %></p>
