<% title "Banners" %>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Pub Start</th>
    <th>Pub End</th>
    <th>Clicks</th>
    <th>Link</th>
  </tr>
  <% for banner in @banners %>
    <tr>
      <td><%= banner.category_id %></td>
      <td><%= banner.name %></td>
      <td><%= banner.pub_start %></td>
      <td><%= banner.pub_end %></td>
      <td><%= banner.clicks %></td>
      <td><%= banner.link %></td>
      <td><%= link_to "Show", banner %></td>
      <td><%= link_to "Edit", edit_banner_path(banner) %></td>
      <td><%= link_to "Destroy", banner, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Banner", new_banner_path %></p>
