<% title "Product Recommended" %>

<p>
  <strong>Product:</strong>
  <%= @product_recommended.product_id %>
</p>
<p>
  <strong>Recommended:</strong>
  <%= @product_recommended.recommended_id %>
</p>

<p>
  <%= link_to "Edit", edit_product_recommended_path(@product_recommended) %> |
  <%= link_to "Destroy", @product_recommended, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", product_recommendeds_path %>
</p>
