<%content_for :head do%>
	<%=stylesheet_link_tag "user_terms"%>
<%end%>

<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Seu pedido foi efetuado com sucesso!</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	<p class="Tit_1">Olá, <%=current_user.nome%></p><br>
        	<p class="Content">Seu medicamento será manipulado mediante confirmação do pagamento junto à pagseguro.
				Para acompanhar o status do seu pedido clique no link abaixo ou acesse <%=link_to "www.farmaciaecovita.com.br","http://www.farmaciaecovita.com.br"%>.</p>
            <br />
			<%=link_to "Minha conta", accounts_path%>
			<p>Obrigado por escolher a Ecovita!</p>
			<%= pagseguro_form @order_product, :submit => "Efetuar pagamento!" %>

        </div>
</div>