<% title "Product Images" %>

<table>
  <tr>
    <th>Name</th>
    <th>Product</th>
  </tr>
  <% for product_image in @product_images %>
    <tr>
      <td><%= product_image.name %></td>
      <td><%= product_image.product_id %></td>
      <td><%= link_to "Show", product_image %></td>
      <td><%= link_to "Edit", edit_product_image_path(product_image) %></td>
      <td><%= link_to "Destroy", product_image, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product Image", new_product_image_path %></p>
