<%= form_for @product_recommended do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :recommended_id %><br />
    <%= f.text_field :recommended_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
