<% title "Product Recommendeds" %>

<table>
  <tr>
    <th>Product</th>
    <th>Recommended</th>
  </tr>
  <% for product_recommended in @product_recommendeds %>
    <tr>
      <td><%= product_recommended.product_id %></td>
      <td><%= product_recommended.recommended_id %></td>
      <td><%= link_to "Show", product_recommended %></td>
      <td><%= link_to "Edit", edit_product_recommended_path(product_recommended) %></td>
      <td><%= link_to "Destroy", product_recommended, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product Recommended", new_product_recommended_path %></p>
