<%content_for :title do%>
	<%=@categoria.name%>
<%end%>

<div id="Content_products">
<div id="Products">
            <p class="Bread_crumb"><%=link_to "home", home_path%> / <%=link_to @categoria.name, categoria_path(@categoria)%></p>
            <h1 style=" vertical-align:middle; text-align:left;"><%=@categoria.name%></h1>
            <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
            <div><%=image_tag @categoria.image.url()%></div>
            <img src="/images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" />  
                    <!-- <label style=" vertical-align:middle;">Items por Pagina</label>
                    <select name="items por pagina" style=" text-align:left; margin-right:260px; ">
                        <option value="">5</option>
                        <option value="1">10</option>
                        <option value="1">20</option>
                        <option value="1">30</option>
                    </select> 
                    <label style=" vertical-align:middle;">Ordenar por categoria</label>
                    <select name="items por pagina" style=" text-align:left;">
                        <option value="">Mais Vendidos</option>
                        <option value="1">categoria</option>
                        <option value="1">categoria</option>
                        <option value="1">categoria</option>
                    </select>--> <br /><br /><br /><br />
         
              <!-- PRODUTO -->
				<%@subcategorias.each do |sub|%>
				<%sub.products.all_published.each do |produto|%>
				<div id="Product" class="p">
                  	<div id="Name"><%=produto.name%></div>
					<div id="Photo">
					<%=link_to(image_tag(produto.product_images.first.image.url("thumb")), produto_path(produto)) if !produto.product_images.first.blank? %>
					
					<%=link_to(image_tag("missing_thumb.jpg"), produto_path(produto)) if produto.product_images.first.blank? %>
					</a></div>
                  <div id="Values">
                      	<h3><%=truncate(produto.summary, :length => 55)%></h3><br />
                      <%if produto.discount.blank?%>
							<h4 class="Price_of">
							<b class="Price_for">por: <%=number_to_currency(produto.price)%></b>
							</h4>
						<%else%>
							<h4 class="Price_of">
								de: <%=number_to_currency(produto.price)%> <br />
							<b class="Price_for">por: <%=number_to_currency(produto.price - produto.discount)%></b>
							</h4>
						<%end%>
						
						<br />
                  </div>
                  <h5><%=link_to "+ "+produto.subcategory.category.name,categoria_path(produto.subcategory.category_id)%></h5>
                  <div class="Buttons">
						<%=link_to image_tag("bt_addtocart.png"), add_to_cart_produto_path(produto)%><br/>

							<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.farmaciaecovita.com.br" data-text="<%=produto.tweet_text%>" data-count="none" data-via="farmaecovita" style="display:inline-block;">Tweet</a>

							<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.farmaciaecovita.com.br/produtos/<%=produto.id%>&layout=button_count&show_faces=false&action=like" style="border: medium none; overflow: hidden; width: 80px; height: 20px; display:inline-block;" allowtransparency="true" scrolling="no" frameborder="0"></iframe>               


                  </div>
              </div>
				<%end%>
				<%end%>
              
  		<div style="clear:both;"></div>
		<p><%#= will_paginate @products %></p>
       <!-- <p ><a href="#" class="pages"><< </a><a href="#" class="pages"> 1 </a><a href="#" class="pages"> 2 </a><a href="#" class="pages"> 3 </a><a href="#" class="pages"> 4 </a><a href="#" class="pages"> 5 </a><a href="#" class="pages"> 6 </a><a href="#" class="pages"> >></a></p>-->                                                   
       <img src="/images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" /> 
      </div>