<% title "Product Comment" %>

<p>
  <strong>Name:</strong>
  <%= @product_comment.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @product_comment.email %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @product_comment.comment %>
</p>
<p>
  <strong>User:</strong>
  <%= @product_comment.user_id %>
</p>
<p>
  <strong>Published:</strong>
  <%= @product_comment.published %>
</p>

<p>
  <%= link_to "Edit", edit_admin_category_subcategory_product_product_comment_path(@category, @subcategory, @product, @product_comment) %> |
  <%= link_to "Destroy", admin_category_subcategory_product_product_comment_path(@category, @subcategory, @product, @product_comment), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_category_subcategory_product_product_comments_path(@category, @subcategory, @product)  %>
</p>
