<% title "Gallery Images" %>

<table>
  <tr>
    <th>Gallery</th>
    <th>Name</th>
    <th>Published</th>
  </tr>
  <% for gallery_image in @gallery_images %>
    <tr>
      <td><%= gallery_image.gallery_id %></td>
      <td><%= gallery_image.name %></td>
      <td><%= gallery_image.published %></td>
      <td><%= link_to "Show", gallery_image %></td>
      <td><%= link_to "Edit", edit_gallery_image_path(gallery_image) %></td>
      <td><%= link_to "Destroy", gallery_image, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gallery Image", new_gallery_image_path %></p>
