<%content_for :title do%>
	<%=@category.name%> :: <%=@produto.name%>	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=stylesheet_link_tag "skin"%>	
	<%=javascript_include_tag "rating"%>
	<%=javascript_include_tag "jquery.validate.min"%>
	<%=javascript_include_tag "additional-methods.min"%>
	<%=javascript_include_tag "jcarousel.min"%>
	
	<script>
	$(document).ready(function() {
	    // Hides the submit button
	    $('.new_rating').children('input[type=submit]').addClass('hide');

		<%if !current_user %>
			$('.star').rating('disable');
			$('.star').click(function(){
			        alert("Você precisa estar logado para avaliar um produto!");
			    });
		<%else%>
			// Submits the form (saves data) after user makes a change.
		  $('.star').click(function(){
		        form = $(this).parent().parent();
		        form[0].submit();
		    });
		<%end%>
	
		$('a.iframe').fancybox({
			'width'		: 500,
			'height'	: 280,
			'centerOnScroll' : true
		});
		
		$('#comments_form').click(function(){
			$('#Form_Comments').fadeIn('slow');
		});
		
		//MOSTRA COMENTARIOS
		// Inicia o validador js ao carregar a página
		// valida o formulário
		$('#new_product_comment').validate({
			// define regras para os campos
			rules: {
				product_comment_name: {
					required: true,
					minlength: 2
				},
				product_comment_email: {
					required: true,
					email: true
				},
				product_comment_comment: {
					required: true
				}
			},
			// define messages para cada campo
			messages: {
				product_comment_name: "Preencha o seu nome",
				product_comment_email: "Preencha seu e-mail de contato",
				product_comment_comment: "Insira algum comentário no campo!"
			}
		});
		
		$('#Recomended_list').jcarousel({
	        // Configuration goes here
	    });
	
	});
	</script>
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", home_index_path %> / <%=link_to @category.name, categoria_path(@category)%> / <%=link_to @subcategory.name, subcategoria_path(@subcategory)%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Categoria : <%=@category.name%></h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div id="Info_product_content">
        	<div id="Info_photo"><%= image_tag(@produto.product_images.first.image.url()) if !@produto.product_images.first.blank? %></div>
            <div id="Info_text">
            	<h2><%=@produto.name%></h2><br />
                <p><%=@produto.description%></p><br />
            	
				<%if @produto.discount.blank?%>
					<strong class="For">
	                Por:
	                	<strong><%=number_to_currency(@produto.price)%></strong>
	                </strong>
				<%else%>
					<strong class="From">
	                De:
	                	<strong><%=number_to_currency(@produto.price)%></strong>
	                </strong>
	                <br />
	            	<strong class="For">
	                Por:
	                	<strong><%=number_to_currency(@produto.price - @produto.discount)%></strong>
	                </strong>
				<%end%>
				
                <br />
            	<strong class="From">
                <b class="Text_gray">Prazo de Entrega:</b>
                	<strong >Até 10 dias úteis para todo o Brasil.</strong>
                </strong>  <br />
            	<strong class="From">
					<%=link_to image_tag("bt_productadd.png"), add_to_cart_produto_path(@produto)%>
                	<strong >
						<%if current_user%>
							<%=link_to "+ adicionar a lista de desejos", add_to_wishlist_produto_path(@produto)%>
						<%else%>
						<a class="iframe" href="/user_sessions/new">+ adicionar a lista de desejos</a>
							<!-- <a href="javascript:void(0);" onclick="alert('Para adicionar um produto a sua lista de desejos\n você deve estar logado!')">+ adicionar a lista de desejos</a> -->
						<%end%>
					</strong>
                </strong><br/>
                <p>
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.farmaciaecovita.com.br" data-text="<%=@produto.tweet_text%>" data-count="none" data-via="farmaecovita" style="display:inline-block;">Tweet</a>

					<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.farmaciaecovita.com.br/produtos/<%=@produto.id%>&layout=button_count&show_faces=false&action=like" style="border: medium none; overflow: hidden; width: 80px; height: 20px; display:inline-block;" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
				<br><br>
				</p>                    
                <strong class="From">
                
				<!-- RATING -->
				
				Avalie: (<%= @produto.average_rating %>)<br />

					<%= form_for(Rating.new) do |f| %>
				      <% 1.upto(5) do |value| %>
				        <%= star_button f, @produto, value, (value==@produto.average_rating) %>
				      <% end %>
				      <%= hidden_field_tag("product_id", @produto.id) %>
					<% end %>

                </strong>                                      
                
            </div>
        </div>
        
		<%if !@recomendados.empty?%>
		<div id="Recomended" >
        <h3  class="Tit">RECOMENDADO PRA VOCÊ</h3>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
          <!-- PRODUTO -->
			<ul id="Recomended_list" class="jcarousel-skin-tango">
          	<%	x = 0
				@recomendados.each do |produto|%>
			<li class="liProduct,jcarousel-item-<%= x%>">
			<div id="Product" class="p" >
            	<div id="Name">
					<%=produto.name%>
				</div>
				<div id="Photo">
					<%=link_to(image_tag(produto.product_images.first.image.url("thumb")), produto_path(produto)) if !produto.product_images.first.blank? %>
					
					<%=link_to(image_tag("missing_thumb.jpg"), produto_path(produto)) if produto.product_images.first.blank? %>
				</div>
            <div id="Values">
                	<h3><%=truncate(produto.summary, :length => 55)%></h3><br />
                	<%if produto.discount.blank?%>
						<h4 class="Price_of">
						<b class="Price_for">por: <%=number_to_currency(produto.price)%></b>
						</h4>
					<%else%>
						<h4 class="Price_of">
							de: <%=number_to_currency(produto.price)%> <br />
						<b class="Price_for">por: <%=number_to_currency(produto.price - produto.discount)%></b>
						</h4>
					<%end%>
					
					<br />
            </div>
            <h5>+ <%=produto.subcategory.category.name%></h5>
            <div class="Buttons">
					<%=link_to image_tag("bt_addtocart.png"), add_to_cart_produto_path(produto)%><br/>

						<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.farmaciaecovita.com.br" data-text="<%=produto.tweet_text%>" data-count="none" data-via="ecovita" style="display:inline-block;">Tweet</a>

						<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.farmaciaecovita.com.br/produtos/<%=produto.id%>&layout=button_count&show_faces=false&action=like" style="border: medium none; overflow: hidden; width: 80px; height: 20px; display:inline-block;" allowtransparency="true" scrolling="no" frameborder="0"></iframe>            


            </div>
        </div>
		</li>
			<%end%>
			</ul>
            <!-- /PRODUTO -->
        </div>
        <%end%>
   <div id="About_product">
        <h3 class="Tit">SOBRE O PRODUTO</h3>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:5px; margin-left:-4px; margin-top:5px;" /> 
        <div id="tabs">
            <ul style="border-bottom:#B3DE26 1px solid;">
                <li><a href="#tabs-1">Descri&ccedil;&atilde;o</a></li>
                <li><a href="#tabs-2">Caracter&iacute;sticas</a></li>
                <li><a href="#tabs-3">Modo de Uso</a></li>
                <%if !@produto.video.blank?%>
				<li><a href="#tabs-3">Videos</a></li>
            	<%end%>
			</ul>
            <div id="tabs-1"><%=@produto.description%></div>
            <div id="tabs-2"><%=@produto.features%></div>
            <div id="tabs-3"><%=@produto.usage%></div>
            <%if !@produto.video.blank?%>
			<div id="tabs-4"><%=@produto.video%></div>
        	<%end%>
		</div>     
       </div>
   <div id="Warning">
		<h3 class="Tit">
			ADVERTÊNCIAS
		</h3>
		<img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:3px;" />
		<p>
			1. Nunca compre medicamento sem orientação de um profissional habilitado;<br />
			2. Imagens meramente ilustrativas;<br />
			3. Pessoas com hipersensibilidade à substância não devem ingerir o produto;<br />
			4. Em caso de hipersensibilidade ao produto, recomenda- se descontinuar o uso e consultar o médico;<br />
			5. Não use o medicamento com o prazo de validade vencido;<br />
			6. Manter em temperatura ambiente (15 a 30ºC). Proteger da luz, calor e umidade. Nestas condições, o medicamento se manterá próprio para o consumo, respeitando o prazo de validade indicado na embalagem;<br />
			7. Todo medicamento deve ser mantido fora do alcance das crianças;<br />
			 8. Este medicamento não deve ser utilizado por mulheres grávidas sem orientação médica;<br />
			9. Embora não existam contraindicações relativas a faixas etárias, recomendamos a utilização do produto para pacientes de idade adulta;<br />
			10. Siga corretamente o modo de usar. Não desaparecendo os sintomas, procure orientação médica;<br />
			11. O uso do medicamento durante o período de amamentação também não é recomendado;<br />
			12. "SE PERSISTIREM OS SINTOMAS, O MÉDICO OU FARMACÊUTICO DEVERÁ SER CONSULTADO".<br />
		</p>
		<img src="/images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" />
   </div>
   <div id="Coments">
        <h3 class="Tit">
			COMENTÁRIOS 
			<%if current_user%>
				<a href="javascript:void(0);" id="comments_form" class="L_coment">Envie seu Comentario[+]</a>
			<%else%>
				<a class="iframe L_coment" href="/user_sessions/new">Envie seu Comentario[+]</a>
			<%end%>
		</h3>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:3px;" />
        
		<!-- COMENTARIOS -->
		<%@produto.product_comments.all_published.each do |comment|%>
		<div id="Item_coment">
            <strong>
                De:
                <strong><%=comment.name%></strong>
                 - <%=comment.created_at%>
            </strong>
            <p><%=comment.comment%></p>
        </div> 
        <%end%>
		
		<%if current_user%> 
          <div id="Form_Comments" style="display:none;">	
				<%=form_for @produto.product_comments.build do |f|%>
					Seu nome: &nbsp;   <%=f.text_field :name, :class => "required form"%><br>
					Seu e-mail: &nbsp;<%=f.text_field :email, :class => "required form"%><br>
					Comentário: <%=f.text_area :comment, :class => "required form", :style => "height:100px;"%><br>
					<%=f.hidden_field :product_id, :value => @produto.id%>
					<%=f.hidden_field :user_id, :value => current_user.id%>
					<%=f.hidden_field :published, :value => 0%>
					<%=f.submit "Enviar!" %>	
		</div>
			<%end%>
		<%end%>  
		
   </div>
                                                        
   <img src="/images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" /> 
</div>