<%= form_for ([:admin, @category, @subcategory, @product], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
<div style="display:inline-block;">
  <div class="pqno">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div >
  <div class="pqno">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="pqno">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="pqno">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
  <div class="pqno">
    <%= f.label :bibliography %><br />
    <%= f.text_field :bibliography %>
  </div>
</div>
<div style="display:inline-block;width:auto;margin: 0px 3px 0px 0px;">
  <div class="mdio">
    <%= f.label :features %><br />
    <%= f.text_area :features %>
  </div>
  <div class="mdio">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="mdio">
    <%= f.label :usage %><br />
    <%= f.text_area :usage %>
  </div>
</div>
<div style="display:inline-block;width:auto;">
  <div class="grde">
    <%= f.label :pub_start %><br />
    <%= f.datetime_select :pub_start %>
  </div>
  <div class="grde">
    <%= f.label :pub_end %><br />
    <%= f.datetime_select :pub_end %>
  </div>
</div>
<div style="display:inline-block;">
  <div class="pqno">
    <%= f.label :views %><br />
    <%= f.text_field :views %>
  </div>
  <div class="pqno">
    <%= f.label :tweet_text %><br />
    <%= f.text_field :tweet_text %>
  </div>
  <div class="pqno">
    <%= f.label :like_link %><br />
    <%= f.text_field :like_link %>
  </div>
  <div class="pqno">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>
  <div class="pqno">
    <%= f.label :vendas %><br />
    <%= f.text_field :vendas%>
  </div>
</div>	
  <h2>Produtos Relacionados:</h2>
  <div class="Related_products">
  	<% Product.all_order_by_name_asc.each do |product| %>
	  	<%= check_box_tag 'product[recommended_ids][]', product.id, @product.recommendeds.include?(product) %><%= product.name %><br />
	  <% end %>
  </div>
<div style="display:inline-block;">
	<div class="pqno">
	  <%= f.label :published %><br />
	  <%= f.check_box :published %>
	</div>
	<div class="pqno">
	  <%= f.label :stock_control,"Controla Estoque?" %><br />
	  <%= f.check_box :stock_control %>
	</div>	
  <div class="pqno">
    <%= f.label :stock_quantity, "Quantidade em Estoque" %><br />
    <%= f.text_field :stock_quantity%>
  </div>	
	<div class="pqno">
	  <%= f.label :literature %><br />
	  <%= f.file_field :literature %>
	</div>
</div>
  <div><%= f.submit %></div>
<% end %>
