<% title "Product" %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Summary:</strong>
  <%= @product.summary %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>
<p>
  <strong>Bibliography:</strong>
  <%= @product.bibliography %>
</p>
<p>
  <strong>Features:</strong>
  <%= @product.features %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Usage:</strong>
  <%= @product.usage %>
</p>
<p>
  <strong>Pub Start:</strong>
  <%= @product.pub_start %>
</p>
<p>
  <strong>Pub End:</strong>
  <%= @product.pub_end %>
</p>
<p>
  <strong>Views:</strong>
  <%= @product.views %>
</p>
<p>
  <strong>Published:</strong>
  <%= @product.published %>
</p>
<p>
  <strong>Tweet Text:</strong>
  <%= @product.tweet_text %>
</p>
<p>
  <strong>Like Link:</strong>
  <%= @product.like_link %>
</p>
<p>
  <strong>Video:</strong>
  <%= @product.video %>
</p>
<p>
  <strong>Vendas:</strong>
  <%= @product.vendas %>
</p>

<p>
  <%= link_to "Edit", edit_admin_category_subcategory_product_path(@category, @subcategory, @product) %> |
  <%= link_to "Destroy", admin_category_subcategory_product_path(@category, @subcategory,  @product), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_category_subcategory_products_path(@category, @subcategory) %>
</p>
