<%= form_for @page_banners do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </p>
  <p>
    <%= f.label :banner_id %><br />
    <%= f.text_field :banner_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
